Mamka/
.dotnet
.lesshst
.templateengine
.vscode
.vscode-cli
3D Objects
AppData
Contacts
Desktop
Documents
Downloads
Favorites
Links
Music
NTUSER.DAT.NotTweaked
Pictures
Saved Games
Searches
source
Videos
Application Data
Cookies
IntelGraphicsProfiles
Local Settings
NetHood
NTUSER.DAT
ntuser.dat.LOG1
ntuser.dat.LOG2
NTUSER.DAT{cfe030ad-de44-11ed-a385-e0d55ea263be}.TM.blf
NTUSER.DAT{cfe030ad-de44-11ed-a385-e0d55ea263be}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{cfe030ad-de44-11ed-a385-e0d55ea263be}.TMContainer00000000000000000002.regtrans-ms
NTUSER.DAT{f4f55009-fd92-11ed-a4bc-847beb3bbb7e}.TM.blf
NTUSER.DAT{f4f55009-fd92-11ed-a4bc-847beb3bbb7e}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{f4f55009-fd92-11ed-a4bc-847beb3bbb7e}.TMContainer00000000000000000002.regtrans-ms
ntuser.ini
PrintHood
Recent
SendTo
главное меню
Мои документы
Шаблоны
.gitconfig